@charset "utf-8";
/* CSS Document */
/* reset css */
*{
	padding: 0px;
	margin-left: 40px;
	margin-right:40px;
}
.headerback{
	background-color: #4E7867;
	height: 90px;
}
body {
    color: rgb(0, 37, 74);
	background-color: #396f59;
	font-family: "Nunito Sans", sans-serif;
	line-height: 1.6;
}
.slogan{
	color: white;
	font-size: 16px;
	font-weight: 70;
	position: absolute;
	left: 145px;
	top: -5px;
}
.menu ul li{
	display: inline;
	padding-left: 3px;	
	font-size: 14px;
}
.menu{
	float: right;
	margin-right: 10px;
}
.logo{
	position: absolute;
	left: 165px;
	top: 50px;
}
* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
	margin-top: 100px;
}
.banner {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #396f59;
  font-size: 15px;
  padding: 40px;
  position: absolute;
  bottom: 8px;
	left: 320px;
  width: 50%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.slide {
  -webkit-animation-name: slide;
  -webkit-animation-duration: 1.5s;
  animation-name: slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes slide {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes slide {
  from {opacity: .4}
  to {opacity: 1}
}
.grid-container {
  display: grid;
	grid-template-columns: auto auto auto auto;
	margin-top: 70px;
	margin-left: 0px;
	margin-right: 0px;
}.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	padding-top: 100px;
}
.item1 h1{
	font-size: 34px;
}
.item1 p{
	font-size: 24px;
}
.item2 img{
	max-width: 200%;
  height: auto;
}
.item3 img{
	max-width: 150%;
  height: auto;
}
.nav{
	float: right;
	margin-right: 5px;
}
.header2{
	font-size: 24px;
	font-weight: 70;
	position: absolute;
	left: 145px; 
}
input[type=button]{
	background-color:#396f59;
	padding: 16px 32px;
	border: none;
	border-bottom: thin #FFFFFF solid;
}
.grid-container1{
	display: grid;
	grid-template-columns: 350px 600px ;
	margin: 0px;
	margin-top: 100px;
	grid-gap: 10px;
	margin-left: -80px;
}
.grid-container2{
	display: grid;
	grid-template-columns: 600px 350px ;
	grid-gap: 10px;
	margin: 0px;
	margin-left: -80px;
}
.subscribe div h1,p{
	text-align: center;
}
.subscribe div p{
	padding: 0 1250 0 1250;
}
.subscribe{
	background-color: #7ecfd4;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 25%;
  max-width: 50%;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.container4 {
  position: relative;
}
.text-block {
  position: absolute;
  bottom: 20px;
  left: 80px;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 80px;
  padding-right: 20px;
	text-align: center;
	
}
.container4 img{
	padding-top: 30px;
	width: 30%;
}
.footer2 h2{
	text-align: left;
	line-height: 2.5px;
}
.f1{
	text-align: left;
	line-height: 2.5px;
}
.footer2{
	padding-top: 10px;
}
.footer22{
	position:absolute;
	top: 3740px;
	left: 700px;
	color: white;
}
